form{
	background-image: linear-gradient(blue, white);
	

	padding-left: 170px;
	padding-top: 50px;
	padding-bottom: 50px;
}

h2{
	color: #330000;
	font-size: 22px;
	/*text-shadow: 1px 1px #ff0000;*/
	font-family: 'Archivo Black';
}
h1{
	font-family: "Serif, Times New Roman";
	color: blac;
}
h3{
	font-family: "Almendra";
	font-size: 35px;
	color: white;
}
/*#000080*/
#age,#chol,#trestbps, #thalach,#oldpeak{
	width:120px;
	height: 30px;
	top:0%;
	right:0%;
	z-index:10;
	background-color:#CCC;
	border: 2px solid grey;
	font-size: 20px;

}
#age input {
	background-color:#FFF  
	color:  red;
}

#i{

	height: 150px;
	width: 200px;
}
span{
	padding-left: 370px;
	font-size: 35px;
	color: #000080;

}
.dii{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	display: flex;
	font-size: 25px;
	background-color: #ebebe0;
}
.di{
	padding-top: 35px;
}
.d{
	padding-top: 20px;
}
.jumbotron{
	display: flex;
	background-color: #004d4d;
}

#ii{
	height: 250px;
	width: 300px;
	/*border-radius: 75%;*/
	padding-bottom: 0px;
}